body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

* {
  box-sizing: border-box;
}
.section-wrapper {
  padding: 0 20px;
}

/*Section 1 Navbar*/
.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.logo {
  max-width: 150px;
  width: 90px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-links {
  display: flex;
  font-weight: 500;
  justify-content: space-around;
}

.navbar-link {
  display: flex;
  justify-content: center;
  width: 100%;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid #f2f2f2;
}

.navbar-link:hover {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
}

/* Section 2 Banner */
.banner-title {
  font-size: 25px;
}

.banner-subtitle {
  font-size: 17px;
}

/* Section 3 Search Box */
.search-box {
  display: inline-flex;
  width: 100%;
  max-width: 400px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 14px 0 0 14px;
}

.search-input {
  text-align: center;
  font-size: 17px;
  border: none;
  border-top: solid 1px #f2f2f2;
  border-bottom: solid 1px #f2f2f2;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  width: 60%;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  font-size: 19px;
  cursor: pointer;
  width: 20%;
}

/* Section 4 Filters  */

.filters-title {
  font-weight: 600;
}

.filters-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 10px;
}

.filter-item {
  display: inline-flex;
  align-items: center;
  border: solid 2px #e2e2e2;
  border-radius: 35px;
}

.filter-item i {
  display: flex;
  background-color: #deebff;
  color: #0065fc;
  height: 50px;
  width: 50px;
  border-radius: 200px;
  align-items: center;
  justify-content: center;
}
.filter-item p {
  padding: 0 5px;
  font-weight: 600;
}

/* Info */
.info {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.fas.fa-info {
  display: flex;
  color: #0065fc;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.info-content {
  padding: 10px 5px;
}

/* Section 5 Accommodations */
.accommodations-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
}
.accommodation-wrapper {
  padding: 0 20px;
}

.section-title {
  font-size: 22px;
  margin: 0;
  padding: 20px 0;
}

.accommodations-list {
  display: grid;
  grid-row-gap: 25px;
}

.accommodation-item {
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 20px;
  box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.32);
}

.accommodation-image {
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.accommodation-contain {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.accommodation-title {
  font-size: 14px;
}

.stars {
  color: #0065fc;
}
.star-off {
  color: #ebebeb;
}

/* Section 6 Popular Accommodations */
.popular-accommodations {
  background-color: #f2f2f2;
  padding: 0 20px;
  padding-bottom: 20px;
}

.popular-header {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
}
.popular-header-title {
  font-size: 22px;
  margin: 0;
  padding-top: 0px 20px;
}
#popular-star {
  font-size: 22px;
}
.popular-list {
  display: grid;
  grid-row-gap: 15px;
}

.popular-item {
  display: flex;
  height: 155px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.32);
}

.popular-image {
  display: flex;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  padding: 5px;
  width: 40%;
  min-width: 130px;
}
.popular-info {
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popular-title {
  padding: 5px 0;
}
.popular-stars {
  color: #0065fc;
}

.fa-solid.fa-star.off {
  color: #d8d7d7;
}

/*/* Section 7 Activites */
.activites-wrapper {
  padding: 20px;
}
.activites-container {
  display: flex;
  flex-direction: column;
}

.activities-title {
  margin: 0;
  padding: 20px 0;
  font-size: 22px;
}

.activities-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 25px;
}

.activities-item {
  display: flex;
  flex-direction: column;
  height: 200px;
  border-radius: 20px;
  box-shadow: 10px 3px 20px -8px rgba(0, 0, 0, 0.32);
}

.activities-image {
  height: 145px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.activities-text {
  padding: 10px;
}

/* Footer */
.footer-container {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Media Queries Tablette */

@media only screen and (min-width: 600px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo-container {
    padding: 0;
  }

  .logo {
    width: 150px;
  }

  .navbar-link {
    padding: 0 20px;
    border: none;
  }

  .navbar-link:hover {
    border: none;
  }

  .filters-list {
    flex-direction: row;
  }
  .filter-item {
    flex-direction: row;
  }

  .accommodation-wrapper {
    padding: 0 20px;
  }
  .accommodation-item {
    height: 260px;
    width: 100%;
  }
  .accommodation-image {
    height: 160px;
  }
  .popular-accommodations {
    border-radius: 20px;
  }
}
/* Media Queries Desktop */

@media only screen and (min-width: 1024px) {
  .accommodations-container {
    flex-direction: row;
    padding: 0 20px;
  }

  .accommodation-container {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 68%;
  }

  .accommodations-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .accommodation-item {
    min-width: 180px;
    height: 240px;
  }
  .accommodation-image {
    height: 130px;
  }
  .popular-accommodations {
    width: 32%;
  }
  .popular-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
  }
  .popular-item {
    height: 150px;
  }

  .activities-list {
    display: flex;
    flex-wrap: wrap;
  }

  .activities-item {
    width: 150px;
    height: 300px;
  }
  .activities-list {
    display: inline-flex;
    height: 300px;
    width: 100%;
    column-gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    row-gap: 10%;
  }

  .activities-item.big {
    width: 23%;
    height: 100%;
  }

  .activities-image.big {
    height: 84%;
  }

  .activities-item.midle {
    width: 23%;
    height: 45%;
  }

  .activities-image.midle {
    height: 70%;
  }

  .activities-item.small {
    width: 23%;
    height: 45%;
  }

  .activities-image.small {
    height: 64%;
  }
  .footer-contain {
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
    width: 80%;
  }

  .footer-info {
    padding: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .activities-list {
    height: 400px;
  }
}
